.bg-info {
    background-color: #c0cde3 !important;
}

.navbar-light .navbar-brand {
    color: #344e41;
}

.btn-primary {
    color: #eaecf6;
    font-size: 150%;
    background-color: #344e41;
    border-color: #3a5a40;
}

body {
    background-color: #eaecf6;
}

.navbar-brand{
    font-family: 'Indie Flower', cursive;
    font-size: 2.25rem;
}